@font-face {
    font-family: "zpix";
    src: local("zpix.woff2");
    src: url("https://zpix.now.sh/zpix.woff2?v2021-03-21");
}

.item {
    padding: 10px 5px 5px 5px;
}

.item > p {
    margin-bottom: 5px;
}

.go-top-btn {
    position: fixed;
    bottom: -65px;
    right: 2rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .6);
    transition: all 0.3s ease;
}

.go-top-btn.active {
    bottom: 25px;
}

.go-top-btn > span {
    display: block;
    transform: rotateZ(90deg);
}

.lists li {
    display: inline;
}
